{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/story9.css' %}">
  <!-- Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <!-- NumeraliaJS for formatting currency -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
  <title>story 9</title>
</head>

<body onload="get_comp()">
  <div class="container">
    <div class="row">
      <div class="col s6 m6 l6">
          <h5 id="judul">Dijual Laptop</h5>
    </div>
    </div>
      <table id="tabel" class="centered"></table>
    <div class="row">
      <div class="col">
        <h5>Total harga</h5>
          <span>Rp </span><span id="harga">0</span>
      </div>
    </div>
  </div>
  <div class="pagination">
    <button >&raquo;</a>
    <button class="pagenow" id="pagination" value=1>1</button>
    <button id="pagination" value=2>2</button>
    <button id="pagination" value=3>3</button>
    <button id="pagination" value=4>4</button>
    <button id="pagination" value=5>5</button>
    <button id="pagination" value=6>6</button>
    <button id="pagination" value=7>7</button>
    <button id="pagination" value=8>8</button>
    <button id="pagination" value=9>9</button>
    <button id="pagination" value=10>10</button>
    <button >&raquo;</a>
  </div>
  <script src="{% static 'js/story9.js' %}"></script>
    <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.4.0.js" integrity="sha256-DYZMCC8HTC+QDr5QNaIcfR7VSPtcISykd+6eSmBW5qo="
    crossorigin="anonymous"></script>
    <!-- Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>
