<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nurul's First TDD!</title>
    <script>scr="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"</script>

    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">

    <title>Me??</title>
</head>
<body>
    
    {% block content %}
        {% if user.is_authenticated %}
                 <p class="display-4">Hello, {{ user.username }}</p>
                 <a class="lead" href="{% url 'logout' %}">Log Out</a>
        {% else %}
                 <a class="lead" href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
        {% endif %}
    {% endblock content %}

    <h1 name="kabar" style="color: rgba(199, 0, 57, 1)">Apa Kabar?</h1>

    <button>
        <a id="profil" href=/profile>Lihat Profile Saya</a>
    </button>

    <button>
        <a id="regist" href=/registration>Subscribe!</a>
    </button>

    <form action="" method="POST">
        {% csrf_token %}
        {{ form }}
        <button id="button" type="submit">Submit</button>
    </form>

    <h3 style="text-align: left; font-weight: bold;">Daftar Output</h3>
    {% for items in data %}
    <h1> {{items.pesan}} </h1>
    <p> {{items.waktu}} </p>
    {% endfor %}

</body>
</html>