
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nurul's First TDD!</title>
    <!-- Import JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="{% static 'js/script.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- JQUERY UI for carousel -->
    <script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
  integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30="
  crossorigin="anonymous"></script>

</head>
<body>
    <div class="loader"></div>

    <button id="Dark">Dark</button>
    <button id="Light">Light</button>

    <h1 id="nama">Nurul Srianda Putri</h1>
    <h1 id="npm">1806205602</h1>
    <img id="foto" src="{% static 'img/foto-diri.png' %}">

    <div class="button">
    <button>
        <a id="index" href="/">Main</a>
    </button>
    </div>

    <div id="accordion">
        <h2 class="choice" style="background-color:rgb(252, 145, 179, 1);">Aktivitas Saat Ini</h2>
            <h3>Hmmmm</h2>
        <h2 class="choice" style="background-color:rgb(252, 145, 179, 1);">Pengalaman Organisasi/Kepanitian</h2>
            <h3>Hmmmm(2)</h2>
        <h2 class="choice" style="background-color:rgb(252, 145, 179, 1);">Aktivitas Saat Ini</h2>
            <h3>Hmmmm(3)</h2>
    </div>

</body>
</html>