{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Subscriber Form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    <link rel="stylesheet" media="screen" type="text/css" href="{% static 'css/subscribers_styles.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/registration.js' %}"></script>
</head>
<header>

</header>
<body>
    <br>
    <h4 align="center" id="header">Halo??</h4>
    <p align="center" id="header-description">Fill the form below to subscribe this website</p>
    <br>
    <div class="col-sm-4"></div>
    <div class="form-block col-sm-4">
        <div id="buat-alert"></div>
        <form class='form-group' id='subsform' method='POST' action="{% url 'Save_Subscribers' %}">
            <div>
                {% csrf_token %}
                {% for fields in form %}
                    {{ fields.label_tag }}
                    {{ fields }}
                {% endfor %}
            </div>
            <br>
            <div align="center">
                <button class='btn btn-default' id='subs-button' type="submit">Subscribe!</button>
            </div>
        </form>
        <br>
        <br>
        <h4 id='subslist' align="center">Our Subscribers</h4>
        <div id='list-subscriber'>
            <br>
            <center>
                <button id='daftar-subs'>Lihat Daftar Subs</button>
                <table class="table" id='subs-table'>
                    <tr>
                        <thead>
                            <th scope="col">No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Pilihan</th>
                        </thead>
                    </tr>
                    <tbody></tbody>
                </table>
            </center>
        </div>
    </div>
    <div class="col-sm-4"></div>
</body>
</html>
