#nama {
    text-align: center;
}

#npm {
    text-align: center;
}

#foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    text-align: center;
    background-color:rgb(109, 225, 251);
}

h3 {
    text-align: center;
    font-weight: normal;
}