#nama {
    text-align: center;
}

#npm {
    text-align: center;
}

#foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choice {
    text-align: center;
}

h3 {
    text-align: center;
    font-weight: normal;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/loading.8f765de39055.gif") center no-repeat #fff;
}
